server:
  shutdown: graceful

spring:
  jackson:
    default-property-inclusion: non_null
  jpa:
    open-in-view: false
    properties:
      jakarta:
        persistence:
          sharedCache:
            mode: ALL

auth:
  token:
    expire-ms: 600000
    issuer: mall
    secret-key: sdknflk23@#%SDFknaosif$^#^!